.threads-heading {
    border-radius: 6px;
    font-family: 'oswaldregular';
    font-size: 35px;
    background: rgb(9,1,8);
    background: linear-gradient(90deg, rgba(9,1,8,1) 34%, #2aa5c6 100%);
    margin-bottom: 5px;
    text-align: left;
    color: #2aa5c6;
    text-shadow: 2px 2px 5px #c16adc;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

.threads-panel {
    border-radius: 6px;
    /* background-color: rgba(55, 55, 61, 0.5); */
    padding: 10px;
    border: 1px solid black;
}

.thread {
    background-color: rgba(55, 55, 61, 0.95);
    margin-bottom: 10px;;
    border-radius: 6px;
    padding: 20px;
}

.thread a {
    color: #2aa5c6;
    font-size: 1.5em;
    text-decoration: none;
}

/* old formatting */

.test {
    color: red;
}

Jumbotron {
    background-color: lawngreen;
}

.threadsDiv {
    border-radius: 15px;
    /* background-color: black; */
    height: calc(100vh - 397px);
    background-color: rgba(55, 55, 61, 0.75);
}

/* .jumbotronDiv {
    background-color: lightsalmon;
} */

.threadsTitleBox {
    border-radius: 6px;
    font-family: 'oswaldregular';
    font-size: 35px;
    /* background-color: rgb(65, 57, 57); */
    background: rgb(9,1,8);
    /* background: linear-gradient(90deg, rgba(9,1,8,1) 34%, rgba(95,9,121,1) 100%); */
    background: linear-gradient(90deg, rgba(9,1,8,1) 34%, #2aa5c6 100%);
    margin-bottom: 5px;
    text-align: left;
}

.threadsTitleBox a {
    /* color: #2aa5c6; */
    /* color: rgba(95,9,121,1);
    text-shadow: 2px 2px #2aa5c6 ; */
    color: #2aa5c6;
    text-shadow: 2px 2px 5px #c16adc;
    /* font-weight: bold; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

.threadsBody {
    border-radius: 6px;
    /* padding-left: 15px;
    padding-right: 15px; */
    background-color: rgba(55, 55, 61, 0.5);
    padding: 10px;
    /* opacity: 0.5; */
    /* border: 1px solid #c0c0c0; */
    /* box-shadow: inset 2px 2px black; */
    /* box-shadow: 1spx 1px rgba(192,192,192, 1); */
    /* box-shadow: inset 1px 1px rgba(192,192,192, 1), 1px 1px rgba(192,192,192, 1); */
    border: 1px solid black;
}

.submit-button {
    /* display: flex; */
}

.submit-thread {
    /* border-radius: 6px; */
    margin: auto;
    text-align: center;
    background-color: silver;
    border-color: #2aa5c6;
    color: black;
}

.new-thread-title {
    font-size: 20px;
    margin-top: 20px;
    overflow-x: hidden; 
    overflow-x: auto;
    overflow: scroll; 
    padding: 15px;
    border-radius: 6px;
    height: 5ch;
    width: 50ch;
    color: #2aa5c6;
    border-color: #2aa5c6;
    background-color: black;
    /* margin-bottom: -20px; */
}

.new-thread-body {
    font-size: 20px;
    overflow-x: hidden; 
    overflow-x: auto; 
    padding: 15px;
    border-radius: 6px;
    max-height: 100px; overflow-y: auto;
    height: 10ch;
    width: 50ch;
    color: #2aa5c6;
    border-color: #2aa5c6;
    background-color: black;
}

placeholder {
    color: brown;
}

.FormBtn {
    text-align: center;
}

@font-face {
    font-family: 'oswaldregular';
    src: url('http://localhost:3000/thread') format('woff2'),
         url('http://localhost:3000/thread') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* p {
    background-color: indianred;
} */


.container-div {
    position: relative;
}

.particles {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;
    z-index: -10;
}