.galleries {
    column-count: 4;
    column-gap: 10px;
}

.btn {
    margin-bottom: 1%;
    padding-left: 10%;
    padding-right: 10%;
}

.button {
    margin-bottom: 1%;
}

.fade-in {
    animation: fadeIn ease 5s forwards;
    animation-delay: 2s;
    opacity: 0;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media screen and (max-width:768px) {
    .galleries {
        column-count: 1
    }
}

@media screen and (min-width:769px) {
    .galleries {
        column-count: 2
    }
}

@media screen and (min-width:1080px) {
    .galleries {
        column-count: 3
    }
}

@media screen and (min-width:1200px) {
    .galleries {
        column-count: 4
    }
}