.NewCardForm {
    width: 50vw;
}

.file-path {
    margin-top: 15px;
}

@media only screen and (max-width: 1050px) {
    .NewCardForm {
        width: 80vw;
    }
  }

@media only screen and (max-width: 600px) {
    .NewCardForm {
        width: 90vw;
    }
  }