
h2 {
    color:  #011586;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#about {
    color:  #011586;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    
}