@import url('https://fonts.googleapis.com/css?family=Poppins:100,300,400,500,600,700,800, 800i, 900&display=swap');

.team {
    font-size: 70px;
    color: #011586;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
}

.team i {
    color:  #ec8430;
}



#about-us {
    text-align: left;
    font-size: 25px;    
    color:  #aaa9a9cb;
    margin-bottom: 70px;
    text-align: center;
    font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
}

a {
    font-family: 'Poppins', sans-serif;
    color: #011586;
}

a:hover {
    color: #ec8430;
}

p {
    color: #011586
}

.margin {
    margin-bottom: 200px;
    font-size: 22px;
    font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
}

.margin p {
    margin-top: 12px;
}

.margin:hover {
    transform: scale(1.1);
}