body{
  background-image: url("../../cssPages/images/cutgrass.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}
.h1, h3, .info {
  text-align: center;
  margin: 60px;
  color: black;
  background-color: white;
  opacity: 0.83;
  font-style: italic;
  border:black;
}

.info{
color: black;
background-color: white;
opacity: 0.83;
font-style: italic;
text-align: center;
align-content: center;
margin: 50px;
}

.card-body{
  padding: 1.85rem;
  background-color: white;
  color: black;
  border:black;
  
}


.col-sm-7{
  margin: 0px 300px 0px;
}

.card-review{
  width: 600px;
  height: 300px;
}

  #form{
    background-color: white;
    color: black;
  }

.jumbotron {
  text-align: center;
  height: 350px;
  background-color: white;
  width: 100%;
  /* color: rgb(15, 109, 22); */
   color: #303437;
  font-family: 'Source Sans Pro' 900;
}

.reviews {
  justify-content: center;
}
/* 
@media screen and (max-width: 980px){
  .card{
      margin-left: 100px;
      margin-right: 100px;
  }
  p{
      font-size: 60px;
}
}
@media screen and (max-width: 768px){
  .card{
      margin-right: 20px;
  }
  p{
      font-size: 40px;
}
}
@media screen and (max-width: 480px){
  #greeting{
      font-size: 20px;
  }
  .container{
     width: 50%;
  }
  
}  */
