h1 {
  color: #58b368;
  /* height: 30px;
  width: 30px; */
}

.welcomeText {
  color: white;
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

.modal-lg {
  max-width: 80% !important;
}
.welcomeText {
  color: white;
  text-shadow:
   -1px -1px 0 #137216,  
    1px -1px 0 #137216,
    -1px 1px 0 #137216,
     1px 1px 0 #137216;
     font-family: 'Montserrat', sans-serif;
 
}
