body {
  background-size: cover;
  background-attachment: fixed;
  animation-name: var(--light-dark-animation);
  color: var(--text-color);
  animation-duration: 30s;
  animation-iteration-count: infinite;
  transition-property: var(--transition-delay);
  
  --light-dark-animation: light;
  --transition-delay: 2s;
}

.bottom-right {
  position: fixed;
  bottom: 0;
  right: 0;
}

body.dark {
--light-dark-animation: dark;
}
.theme-toggle-button {
  background-color: orange;
  color: black;
  justify-content: right;
  padding:.5em 1em;
  border-radius: .3em;
  cursor: pointer;
  border: none;
  outline:none;
  transition: var(--transition-delay);
  transform: scale(1);
}

.theme-toggle-button:hover,
.theme-toggle-button:focus {
  transform: scale(1.1);
}
.delete:hover,
.delete:focus {
  transform: scale(1.1);
}
.submit:hover,
.submit:focus {
  transform: scale(1.1);
}
.delete {
  background-color: orange;
  color: black;
  justify-content: right;
  padding:.5em 1em;
  border-radius: .3em;
  cursor: pointer;
  border: none;
  outline:none;
  transition: var(--transition-delay);
  transform: scale(1);

}
.submit {
  background-color: orange;
  color: black;
  justify-content: right;
  padding:.5em 1em;
  border-radius: .3em;
  cursor: pointer;
  border: none;
  outline:none;
  transition: var(--transition-delay);
  transform: scale(1);
}
.header-footer-opacity {
  opacity: 0.5;
}
body {
  margin-top: 100px;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
@keyframes light {
  0%    {background-image: url("./assets/images/light/Liberty1920x1080.jpg");}
  20%   {background-image: url("./assets/images/light/niagraFalls1920x1080.jpg");}
  40%   {background-image: url("./assets/images/light/goldenGate1920x1080.jpg");}
  60%   {background-image: url("./assets/images/light/grandCanyon1920x1080.jpg");}
  80%   {background-image: url("./assets/images/light/rushmore1920x1080.jpg");}
  100%  {background-image: url("./assets/images/light/Liberty1920x1080.jpg");}
}
@keyframes dark {
  0%   {background-image: url("./assets/images/dark/vegas1920x1080.jpg");}
  20%   {background-image: url("./assets/images/dark/chicagox1920x1080.jpg");}
  40%  {background-image: url("./assets/images/dark/chicagox1920x1080.jpg");}
  60%  {background-image: url("./assets/images/dark/seattleNeedle1920x1080.jpg");}
  80%  {background-image: url("./assets/images/dark/newYork1920x1080.jpg");}
  100% {background-image: url("./assets/images/dark/vegas1920x1080.jpg");}
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.travelContent {
  /* font-style: oblique ; */
  display: flex;
  align-items: left;
  justify-content: left;
}

.slider-wrapper {
  font-size: 20px;
  color:rgb(0, 0, 0);
  font-weight: bold;
  /* text-transform: uppercase; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider {
  height: 50px;
  padding-left: 5px;
  overflow: hidden;
}

.slider div {
  font-size: 24px;
  color: antiquewhite;
  height: 50px;
  margin-bottom: 50px;
  padding: 2px 15px;
  text-align: center;
}

.slider-text1 {
  background: orange;
  animation: slide 20s linear infinite;
}
.slider-text2 {
  background: lightcoral;
}
.slider-text3 {
  background: rgb(45, 46, 44);
}
.slider-text4 {
  background: purple;
}
.slider-text5 {
  background: cornflowerblue;
}
.slider-text6 {
  background: orange;
}

@keyframes slide {
  0% {margin-top: -500px;}
  5% {margin-top: -500px;}
  10% {margin-top: -400px;}
  25% {margin-top: -400px;}
  30% {margin-top: -300px;}
  45% {margin-top: -300px;}
  50% {margin-top: -200px;}
  65% {margin-top: -200px;}
  70% {margin-top: -100px;}
  85% {margin-top: -100px;}
  90% {margin-top: 0px;}
  100% {margin-top: 0px;}
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

.Navigation {
  opacity: .3;
}
.Navigation:hover {
  opacity: .9;
}
.Footer {
  opacity: .3;
}
.Footer:hover {
  opacity: .9;
}

