.card-img-top {
   height: 272px;
   border: none;
}

.col-featured-lg-3{
    margin-top: 2%;
    margin-bottom: 2%;
    /* position: relative;
    -webkit-animation-name: example; 
    -webkit-animation-duration: 4s; 
    -webkit-animation-delay: 2s; 
    animation-name: example;
    animation-duration: 4s;
    animation-delay: 2s; */
}

.card-top {
    box-shadow: 10px 5px 5px #e03838;
    border: none;
    height: 340px;
    background: linear-gradient(to bottom, #eef2f3 0%, #8e9eab 100%);
}

.row {
    border: none;
}
  
.card-top:hover {background-color: #e03838}
  
.card-top:active {
    background-color: #e03838;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  /* @-webkit-keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:gray; left:400px; top:0px;}
    50%  {background-color:whitesmoke; left:400px; top:400px;}
    75%  {background-color:gray; left:0px; top:400px;}
    100% {background-color:whitesmoke; left:0px; top:0px;}
  }
  
  @keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:gray; left:400px; top:0px;}
    50%  {background-color:whitesmoke; left:400px; top:400px;}
    75%  {background-color:gray; left:0px; top:400px;}
    100% {background-color:whitesmoke; left:0px; top:0px;}
  } */


  .flip-card {
    background-color: transparent;
    width: 340px;
    height: 340px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background: linear-gradient(to bottom, #eef2f3 0%, #8e9eab 100%);
    transform: rotateY(180deg);
    color:black;
   font-size: 25px;
  }

  .card-about{
    border:none;
    font-size: 20px;
  }

  .card-body-about{
    padding-left:10%;
  }



  