.UpdateProfileT {
    /* padding-top: 100px; */
    /* position: static !important; */
    text-align: center;
    margin-bottom: -20px;
    position: relative;
    left: 300px;
    right: 300px;
    padding: 100px 50px 100px 50px;
}

.card-body {
    position: static !important;
    text-align: center;
    margin-bottom: 20px;
}

.sub-button {
    width: 100% !important;
}

.container {
    position: relative;
}