<!--
Original Design by @keyframers 
[https://codepen.io/team/keyframers/pen/wvvoBQW]  
-->

<div class="treat-wrapper">
  <button class="treat-button">Treats!</button>
</div>

<!-- Footer -->
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap" rel="stylesheet">
<div id="footer">Brought to you with ❤️ by
  <a href="https://www.youtube.com/channel/UCi_eKnR8rhusVwFFtHQY8yg" target="_blank">
  <img id="footer-img" src="https://i.postimg.cc/mDGGGCKM/logo-darkmode.png" width="50">
</div> 