.threads-heading {
    border-radius: 6px;
    font-family: fantasy;
    font-size: 35px;
    background: rgb(9,1,8);
    /* background: linear-gradient(90deg, rgba(9,1,8,1) 34%, #2aa5c6 100%); */
    background-color: rgba(55, 55, 61, 0.1);
    /* border-radius: 4px;
    border-style: solid;
    border-color: #c16adc; */
    margin-bottom: 5px;
    text-align: left;
    color: silver;
    text-shadow: 2px 2px 5px #c16adc;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

.threads-panel {
    border-radius: 6px;
    /* background-color: rgba(55, 55, 61, 0.5); */
    padding: 10px;
    border: 1px solid black;
}

.thread {
    background: linear-gradient(90deg, rgba(17,0,17,1) 20%, rgba(23,1,25,1) 50%, rgba(0,21,33,1) 80%, rgba(3,34,51,1) 100%);
    /* background-color: rgba(94,178,224,0.5); */
    /* background-color: rgba(55, 55, 61, 0.5); */
    margin-top: 30px;
    margin-bottom: 10px;
    border-radius: 6px;
    padding: 20px;
    color: #2aa5c6;
    font-size: 1.8em;
}

.thread a {
    color: #2aa5c6;
    font-size: 1.5em;
    text-decoration: none;
}

/* .replies {
    color:#ac31d1;
    color: #2aa5c6;
    font-size: 1.5em;
    text-decoration: none;
} */

.reply {
    color: #a8a4a4;
    background-color: rgb(35, 35, 39);
    border: 1px solid #2aa5c6;
    margin-bottom: 30px;
    border-radius: 6px;
    box-shadow: #a8a4a4 0.5px 0.5px 0.5px;
    padding: 20px;
    font-size: 1.9em;
    text-align: left;
}

.reply-container {
    /* background-color: #2aa5c6; */
    background-color: rgba(55, 55, 61, 0.5);
    margin-bottom: 10px;;
    border-radius: 6px;
    padding: 20px;
}

.threadDetails {
    /* border: 1px solid #2aa5c6; */
    /* background: linear-gradient(90deg, rgba(0,0,0,0.9) 34%, rgba(23,0,29,0.9) 100%, rgba(188,0,255,0.9) 100%); */
    background-color: rgb(0, 0, 0.5);
    /* margin-bottom: 10px; */
    border-radius: 6px;
    /* box-shadow: #ac31d1 1px 1px 1px; */
    padding: 20px;
    text-align: left;
}

.thread-title {
    color: #a8a4a4;
    text-shadow: #ac31d1 0.5px 0.5px 0.5px;
    font-size: 1.2em;
    text-decoration: none;
}

.thread-body {
    color: #a8a4a4;
    text-shadow: #ac31d1 0.5px 0.5px 0.5px;
    font-size: 1.2em;
    text-decoration: none;
}

.img-div {
    height: auto;
    width: auto;
    padding: 20px;
}

.threadDetailsTitleBox {
    border-radius: 6px;
    font-family: 'oswaldregular';
    font-size: 35px;
    /* background-color: rgb(65, 57, 57); */
    background: rgb(9,1,8);
    /* background: linear-gradient(90deg, rgba(9,1,8,1) 34%, rgba(95,9,121,1) 100%); */
    background: linear-gradient(90deg, rgba(9,1,8,1) 34%, #2aa5c6 100%);
    margin-bottom: 5px;
    text-align: left;

    color: #2aa5c6;
    text-shadow: 2px 2px 5px #c16adc;
    /* font-weight: bold; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

.submit-thread {
    /* border-radius: 6px; */
    margin: auto;
    text-align: center;
    background-color: silver;
    border-color: #2aa5c6;
    color: black;
    border-radius: 5px;
}

.new-thread-body {
    font-size: 20px;
    overflow-x: hidden; 
    overflow-x: auto; 
    padding: 15px;
    border-radius: 6px;
    max-height: 100px; overflow-y: auto;
    height: 10ch;
    width: 50ch;
    color: #2aa5c6;
    border-color: #2aa5c6;
    background-color: black;
}

.particles {
    position: absolute;
    top: 0;
    left: 0;

    height: 0%;
    width: 100%;
    z-index: -9000;
}