.jumbotron{
    background-color:rgb(66,110,117,0.7);
    
}
.wtma{
    font-family: 'Permanent Marker', cursive;
    color: white;
    padding-top:30px;
    font-size: 80px;
}
.secretP{
    background-image:url("oscar.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    
}



.VI{
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    color:white;
    /* background-color:; */
    border-radius: 15px;
    padding-bottom:5px;
    padding-top:5px;
    font-size:40px;

}
.hike{
    right:15px;
}




