/* ONLY use these page COLORS!!! */

/* black rgb(30, 30, 40) */
/* biege/tan rgb(173, 158, 149) */
/* dark brown  rgb(70, 50, 40)*/
/* brown rgb(120, 68, 20)*/
/* light brown rgb(150, 110, 76)*/

 /* ------------------------- */

                                        /* Set 2 colors
 - c1purplehsl 
rgb(108,30,79)
 - midnightbluehsl 
rgb(63,36,98)
 - darkslategrayhsl 
rgb(67,16,50)
 - midnightbluehsl 
rgb(22,32,83)
 - darkslatebluehsl 
rgb(32,56,144) */

nav.navbar {
    background: rgba(0, 0, 0, 0) !important;
    margin: 0 !important;
    position: fixed;
    z-index: 2;
    width: 100%;
    color: rgb(70, 50, 40) !important;
}
nav.navbar:hover {
    background-color: rgb(30, 30, 40) !important;
    
    
}
a.navbar-brand {
   color: rgb(255, 255, 255) !important;
   font-weight: bold;
   font-size: 30px;
   text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.475);
}

.nav-link {
    color: white !important;
    font-weight: bold;
}
