.navbar {
   background-color: #ffffff;
   height: 10px;
   position: fixed;
   top: 0;
   width: 100vw;
   box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.43);
   z-index: 10;
}

.Navigation {
    /* position: fixed; */
    background-color: #ffffff;
    /* opacity: 0.5; */
    
}

.nav-link {
    font-size: x-large;
    color: #78c14b;
}

.logo {
    
    height: 100px;
    display: block;
    justify-content: center;
   
}