.navbar {
   background-color: #ffffff;
   height: 150px;
   position: fixed;
   width: 100vw;
   box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.43);
  
}

.Navigation {
    position: fixed;
    background-color: #ffffff;
    /* opacity: 0.5; */
    
}

.nav-link {
    font-size: x-large;
    color: #78c14b;
}

.logo {
    
    height: 100px;
    display: block;
    justify-content: center;
   
}