.fade-in {
    animation: fadeIn ease 5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.Navigation {
    margin-top: 15px;
    margin-left: 5%;
    margin-right: 5%;
}