.textArea{
    width: 100%;
    resize: none;
}

.form-group {
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white; 
    text-shadow: 2px 2px Black;
}
