/* addform.js */

#itList {
 
    box-shadow:5px 5px 5px 5px #999;
}

#formList {
   
    box-shadow:5px 5px 5px 5px #999;
    
}

#btnComplete {
    float:right;
}

/* form.js */

.destForm, .tripDays, .shortDescription, .itinForm, #itList{
    width: 100%;
}



