h1 {
    color: #5EB2E0;
    text-shadow: 2px 2px 4px #0000;
}

p {
    color: #5EB2E0;
    text-shadow: 2px 2px 4px #0000;
}

mt-3 {
    color: #5EB2E0;
}

.register-here {
    color: #5EB2E0;
    font-size: 2ch;
}