<div class="row">
  <div class="col xl2 l2 m5 s8">
    <div class="mainGreen">      
      <h2>what is this?</h2>     
    </div>
  </div>
  <div class="col l6 m8 s10">
    <div class="mainRed flow-text">      
      <p><em>Exquisite Corpse</em> is originally a drawing game created by European surrealist artists in the 1920s.</p>
    </div>
  </div>
  <div class="col l6 m8 s10">
    <div class="mainYellow flow-text">
      <p>In this game, a drawing of a body was broken down into three sections: a head, torso, and legs.</p>     
    </div>
  </div>
  <div class="col l6 m8 s10">
    <div class="mainGreen flow-text">
      <p>Each section was kept a surprise from the next person, resulting in some outrageous combinations.</p>    
    </div>
  </div>
</div>
<div class="row">
  <div class="col l6 m8 s12 offset-l6 offset-m4">
    <div class="mainRed flow-text">
      <h2>In this version, instead of drawing, we are going to write.</h2>
    </div>
  </div>
</div>
<div class="row">
  <div class="col xl2 l2 m5 s8">
    <div class="mainYellow flow-text">      
      <h2>how to play</h2>     
    </div>
  </div>
  <div class="col l6 m8 s10">
    <div class="mainYellow flow-text">
      <span class="header">1</span>
      <p>Create the "head" for your corpse by writing the beginning of your story. Leave it open for the next person to continue, unless you are writing the last section of the story.</p>     
    </div>
  </div>
  <div class="col l6 m8 s10">
    <div class="mainGreen flow-text">
      <span class="header">2</span>
      <p>Take turns writing until all different people have participated and we have a "torso" and "legs".</p>     
    </div>
  </div>
  <div class="col l4 m8 s10">
    <div class="mainRed flow-text">
      <span class="header">3</span>
      <p>Appreciate your collaborative artwork <span class="icon"><i class="fa fa-smile"></i></span></p>
    </div>
  </div>
</div>

