<div class="row">
  <div class="col xl3 l3 m6 s12 flowtext">
    <div class="mainGreen">      
      <h2>continue a story...</h2>      
    </div>
    <div id="randomContainer1" class="mainYellow center hide">      
      <ul id="randomWordsList1"></ul>     
    </div>
  </div>
  <div class="col s12 m10 l8 xl8 flowtext">    
    <div class="mainRed card-panel">
      <button id="nextBtn" class="btn-flat waves-effect waves-yellow"><span id="btnText">skip!</span></button>      
      <p id="lastEntry" data-id={{idOfLastSentence.0.storyId}}>{{lastSentence.0.text}}</p>
      <div class="input-field">
        <textarea id="entry" class="materialize-textarea" data-length="500"></textarea>
        <label for="entry">what happened next?</label>
      </div>
      <div class="input-field">
        <textarea id="entryAuthor" class="materialize-textarea" data-length="20"></textarea>
        <label id="x" for="entryAuthor">your pen name</label>
      </div>
      <button id="continueSubmit" class="btn-flat waves-effect waves-red" type="submit"><span
          id="btnText">save!</span></button>
      <button id="wordRandomizer1" class="btn-flat waves-effect waves-yellow wordRandomizer"><span id="btnText">give me ideas!</span></button>
    </div>  
  </div>
</div>
<div class="row">
  <div class="col s12 m6 xl3 l3 flowtext">
    <div class="mainRed">      
      <h2>...or create a story!</h2>      
    </div>
    <div id="randomContainer2" class="mainYellow center hide">     
      <ul id="randomWordsList2"></ul>
    </div>
  </div>
  <div class="col s12 m10 l8 xl8 flowtext">    
    <div class="mainGreen card-panel">      
      <div class="input-field">
        <textarea id="story" class="materialize-textarea" data-length="500"></textarea>
        <label for="story">get those fingers moving!</label>
      </div>
      <div class="input-field">
        <textarea id="storyAuthor" class="materialize-textarea" data-length="20"></textarea>
        <label for="storyAuthor">your pen name</label>
      </div>
      <button id="createSubmit" data-id={{idOfNextStory.0.id}} class="btn-flat waves-effect waves-red"
        type="submit"><span id="btnText">save!</span></button>
      <button id="wordRandomizer2" class="btn-flat waves-effect waves-yellow wordRandomizer"><span id="btnText">give me ideas!</span></button>
    </div>
  </div>
</div>
<script src="assets/js/write.js"></script>