.pages-header{
  color: rgba(0,0,0,0.6);
  text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
  0px -5px 35px rgba(255,255,255,0.4);
  }

.container-jeff{
    position: relative;
}
.container-jeff::after{
  content:'';
  background: url('../Images/top.jpg') no-repeat center center fixed;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index:-1;
  opacity: 0.4;
  z-index:-1;
  opacity: 0.4;
}

.container-mimosa{
  position: relative;
}

.container-mimosa::after{
  content:'';
  background: url('../Images/top5.jpg') no-repeat center center fixed;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index:-1;
  opacity: 0.4;
}

.container-mule{
  position: relative;
}

.container-mule::after{
  content:'';
  background: url('../Images/top1.jpg') no-repeat center center fixed;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index:-1;
  opacity: 0.4;
}

.container-old{
  position: relative; 
}

.container-old::after{
  content:'';
  background: url('../Images/top3.jpg') no-repeat center center fixed;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index:-1;
  opacity: 0.4;
}

.container-baby{
  position: relative;
}

.container-baby::after{
  content:'';
  background: url('../Images/top4.jpg') no-repeat center center fixed;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index:-1;
  opacity: 0.4;
}

.container-pineapple{
  position: relative;
}

.container-pineapple::after{
  content:'';
  background: url('../Images/top2.jpg') no-repeat center center fixed;
  position: absolute;
  filter: alpha(opacity=50); /* For IE8 and earlier */
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index:-1;
  opacity: 0.4;
}

.container-featured{
  opacity: 1;
  z-index: 2;
}

.img-featured{
  margin-top: 22%;
  width: 300px;
  height: 300px;
  opacity: 1;
  z-index: 2;
  box-shadow: 10px 5px 5px #e03838;
  position: relative;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-delay: 2s; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 4s;
  animation-delay: 2s;
}

.img-featured:hover {background-color: #e03838}
  
.img-featured:active {
    background-color: #e03838;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

@-webkit-keyframes example {
  0%   {background-color:red; right:0px; bottom:0px;}
  25%  {background-color:gray; right:100px; bottom:0px;}
  50%  {background-color:whitesmoke; right:100px; bottom:100px;}
  75%  {background-color:gray; right:0px; bottom:100px;}
  100% {background-color:whitesmoke; right:0px; bottom:0px;}
}

/* Standard syntax */
@keyframes example {
  0%   {background-color:red; right:0px; bottom:0px;}
  25%  {background-color:gray; right:100px; bottom:0px;}
  50%  {background-color:whitesmoke; right:100px; bottom:100px;}
  75%  {background-color:gray; right:0px; bottom:100px;}
  100% {background-color:whitesmoke; right:0px; bottom:0px;}
}