.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Fonts */
.abel {
  font-family: 'Abel', sans-serif;
}

.titilium {
  font-family: 'Titillium Web', sans-serif;
}

.modern-btn {
  display: inline-block;
  margin: 10px;
  padding: 8px 15px;
  background: rgb(49, 49, 49);
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 5px; 
  transition: all 0.3s ease-out;
  text-decoration: none;
  text-shadow: 0 1px rgba(255, 255. 255, 0.7);
  box-shadow:
    inset 0 5px 2px rgba(255,255,255,0.5),
    0 5px 5px rgba(0,0,0,0.3),
    0 0 4px 1px rgba(0,0,0,0.2);
  color: white;
}

.modern-btn:hover {
  background: white;
  color: black;
}

.image-holder {
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  width: 100%;
  border: solid;
  border-radius: 5px;
  border-width: 2px;
}

.image-holder:hover .btns {
  top: 95%;
  transition: top 0.3s ease-in;
}

.image-holder:hover .invis-btn {
  opacity: 1;
}

.image {
  width: 100%;
}

.btns {
  position: absolute;
  width: 100%;
  height: 20%;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: 1;
  transition: top 0.3s ease-in;
}

.invis-btn {
  margin: 5px;
  padding: 8px 15px;
  background: rgb(49, 49, 49);
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 5px; 
  transition: all 0.3s ease;
  text-decoration: none;
  text-shadow: 0 1px rgba(255, 255. 255, 0.7);
  box-shadow:
    inset 0 0 1px rgba(255,255,255,0.5),
    0 1px 1px rgba(0,0,0,0.3),
    0 0 1px 1px rgba(0,0,0,0.2);
  color: white;
  opacity: 0;
  width: 75px;
  height: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center; 
}

.invis-btn:hover {
  background: white;
  color: black;
}

.transparent-hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
