.App {
  text-align: center;
}
/* 
.container {
  height: 400px;
  background-color: transparent;
  z-index: 1000;
  position: absolute;
} */

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.centeredContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-55%, -50%);
  /* display: flex; */
  /* flex-wrap: wrap; */
  justify-content: space-around;
}

.overlayImage {
  /* width: 67%; */
}

.mission{
  /* width: 30%; */
  font-size: 20px;
  background-color: rgba(216, 191, 216, 0.5);
  padding: 16px;
}

.Home {
  margin-top: 150px;
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition:all 0.2s ease;
	-moz-transition:all 0.2s ease;
  transition:all 0.2s ease;
  position: relative;
}

.parallax-1 {
  background-image: url("../../images/MainGrass.jpg");
  min-height: 700px;
}

.parallax-2 {
  background-image: url("../../images/grass-cut-image2.jpg");
  min-height: 700px;
}

.parallax-3 {
  background-image: url("../../images/charlotte.jpg");
  min-height: 700px;
}

