.App {
  text-align: center;
}
/* 
.container {
  height: 400px;
  background-color: transparent;
  z-index: 1000;
  position: absolute;
} */
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}
.App-header {
  background-color: #282C34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61DAFB;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
}

.images {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card-layout {
  position: relative;
  margin: 1em;
  background-color: grey;
  box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.43);
  border-radius: 20px;
  

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 1.25em;
    bottom: 1.25em;
    left: 1.25em;
    right: 1.25em;
  }
      &::before {
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        transform: scale(0,1);
        transition: ease-out 250ms;
      }

      &::after {
        border-left: 1px solid white;
        border-right: 1px solid white;
        transform: scale(1,0);
        transition: ease-out 250ms;
      }

      &:hover::before{
        transform: scale(1.05,1);
      }

      &:hover::after{
        transform: scale(1,1.05);
      }
}

.card-layout:hover .card-image {
  opacity: .4;
}

.card-image {
   // max-width: 100%;
   width: 250px;
   // height: 25vh;
   height: 200px;
   object-fit: cover;
   display: block;
   transition: opacity ease-out 250ms;
   opacity: 1;
   border-radius: 20px;
}

.card-image:hover {
  opacity: 0.4;
}

.cardText {
  font-family: alternate-gothic-no-3-d;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  opacity: 0;
  transition: opacity ease-out 250ms;

}

.card-layout:hover .cardText {
  opacity: 1;
}

.centeredContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 70%;
}
.overlayImage {
  /* transform: rotateZ(-40deg); */
  height: 50%;
  width: 70%;
  bottom: 20px;
  /* opacity: 50%; */
  background-blend-mode: overlay;
  position: relative;
  top: 170px;
}
.phrase{
  width: 50%;
  font-size: 40px;
  margin-top: 20px;
  font-weight: 550;
  color: white;
  margin-top: 20%;
  font-family: alternate-gothic-no-3-d;
  line-height: 40px;
  text-shadow: 2px 2px #282C34;
  margin-bottom: 2em;
  
}
.mission{
  /* width: 30%; */
  font-size: 23px;
  background-color: rgba(216, 191, 216, 0.829);
  padding: 16px;
  font-weight: 700;
  font-family: alternate-gothic-no-3-d;
  border-radius: 20px;
  box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.43);

 
}
.services{
  /* width: 30%; */
  font-size: 30px;
  background-color: rgba(255, 255, 255, 0.699);
  padding: 16px;
  font-weight: 700;
  font-family: alternate-gothic-no-3-d;
  border-radius: 20px;
  text-align: left;
 
}

h2 {
  color: white;
  font-family: alternate-gothic-no-3-d;
  font-size: 5vh;
  width: 25vw;
  margin-bottom: 1.5em;
  text-shadow: 2px 2px #282C34;
  
}
.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition:all 0.2s ease;
  -moz-transition:all 0.2s ease;
  transition:all 0.2s ease;
  position: relative;
}
.parallax-1 {
  background-image: url("../../images/grass-cut-image2.jpg");
  min-height: 700px;
}
.parallax-2 {
  background-image: url("../../images/MainGrass.jpg");
  min-height: 900px;
}
.parallax-3 {
  background-image: url("../../images/charlotte.jpg");
  min-height: 700px;
}
.navbar {
background-color: #FFFFFFA8;
 height: 150px;
 position: fixed;
 top: 0;
 width: 100vw;
 box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.43);
 z-index: 10;
}
.nav-link {
  font-size: x-large;
  color: black;
  font-family: alternate-gothic-no-3-d;
}
.logo {
  height: 100px;
  display: block;
  justify-content: center;
}
.text {
  font-family: alternate-gothic-no-3-d; 
}
.Login{
  margin-top: 30vh;
  
}
.loginForm {
  border-radius: 15px;
  border-width: 4px;
  border-color:  #78C14B;
  border-style: groove;
}
.loginTitle {
  font-family: alternate-gothic-no-3-d; 
  font-size: 5vh;
}
.loginBtn {
  font-family: alternate-gothic-no-3-d; 
  color:black;
  margin-top: 3vh;
  border-radius: 20px;
  background-color: #FFC41F;
  font-weight: bolder;
  width: 10%;
  margin-left: 45%;
  margin-right: 45%;
  box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.43);
}
.registerTitle {
  font-family: alternate-gothic-no-3-d; 
  font-size: 5vh;
  margin-top: 30vh;
}
.LoginRegister {
  margin-left: 10%;
  margin-right: 10%;
}
.registerBtn {
  font-family: alternate-gothic-no-3-d; 
  color:black;
  margin-top: 3vh;
  border-radius: 20px;
  background-color: #FFC41F;
  font-weight: bolder;
  width: 10%;
  margin-left: 45%;
  margin-right: 45%;
  box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.43);
}
.registerForm {
  /* background-color: #FFC41F; */
  border-radius: 15px;
  border-width: 4px;
  border-color:  #78C14B;
  border-style: groove;
  
}
.admin {
  font-family: alternate-gothic-no-3-d; 
  font-size: 5vh;
  text-decoration: underline;
  text-decoration-color: #78C14B;
  text-decoration-style: double;
  margin-bottom: 3vh;
  
}
#role {
  font-size: 2vh;
  background-color: #FFC41F;
  /* margin-left: 5vw; */
  box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.43);
}
#use {
  font-size: 2vh;
  background-color:#ffc41f;
  margin-right: 3vw;
  box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.43);
}
.submitBtn {
  font-family: alternate-gothic-no-3-d; 
  margin-top: 3vh;
  border-radius: 20px;
  background-color:  #78C14B;
  font-weight: bolder;
  width: 10%;
  margin-left: 45%;
  margin-right: 45%;
  box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.43);
  
  
}
.client {
  font-family: alternate-gothic-no-3-d; 
  font-size: 5vh;
  text-decoration: underline;
  text-decoration-color: #FFC41F;
  text-decoration-style: double;
}
.textClient {
  font-size: 3vh;
  font-family: alternate-gothic-no-3-d;
  /* margin-left: 5vw; */
  justify-content: center;
  
}
.clientList {
  font-family: alternate-gothic-no-3-d; 
  font-size: 3vh;
  background: #78C14B;
  margin: 5px;
  border-radius: 20px;
  
}
.list {
  list-style-position: outside;
  list-style-type: none;
  background: #FFC41F;
  padding: 20px;
  border-radius: 20px;
  
}
.employee {
  margin-top: 40vh;
  font-family: alternate-gothic-no-3-d; 
  font-size: 4vh;
  text-decoration: underline;
  text-decoration-color: black;
  text-decoration-style: single;
}
.employeeLabel {
  font-family: alternate-gothic-no-3-d; 
  font-size: 3vh;
  
  
}
.empButton {
  font-family: alternate-gothic-no-3-d; 
  background-color: #78C14B;
  border-radius: 20px;
  box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.43);
  margin-left: 1vw;
}
.empInput {
border-radius: 15px;
box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.43);
}
.email {
 
  width: 30%;
  margin-top: 1vh;
  margin-bottom: 1vh;
  display: flexbox;
  justify-content: center;
}
/*.contactForm {
  font-size: 2vh;
  background-color: #FFC41F;
  margin-left: 5vw;
  box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.43); 
} */