.App {
  text-align: center;
  background-color: #004e8c;
  position: relative;
  min-height: 100%;
  background-size: cover;
}

.App-logo {
  height: 300px;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
canvas {
  z-index: 0;
  top: 0;
  overflow: hidden;
  position: fixed;
  right: 0;  
}

