.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  background-image: url("https://lelandswallpaper.com/wp-content/uploads/2017/06/TE11300-jupiter-geometric-texture-wallpaper-white.jpg");
}

.navbar {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 15px;
  background: transparent !important;
  text-align: right;
 
}
.nav-item {
  color: black;
}

#yes {
  margin-left: 600px;
}

.navbar-light {
  color: black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
