.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.logo {
  /* animation: App-logo-spin infinite 20s linear; */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-1 {
  background-image: url("../../images/MainGrass.jpg");
  min-height: 700px;
}

.parallax-2 {
  background-image: url("../../images/elizabeth-explores-pk0du67cX4o-unsplash.jpg");
  min-height: 700px;
}

.parallax-3 {
  background-image: url("../../images/charlotte.jpg");
  min-height: 700px;
}

