.App {
  text-align: center;
}
/* 
.container {
  height: 400px;
  background-color: transparent;
  z-index: 1000;
  position: absolute;
} */

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
}

.centeredContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-55%, -50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 60%;
}

.overlayImage {
  transform: rotateZ(-40deg);
  height: 50%;
  width: 70%;
  bottom: 20px;
}

.phrase{
  width: 30%;
  font-size: 40px;
  /* background-color: rgba(216, 191, 216, 0.5); */
  padding: 16px;
  /* width: 40%; */
  margin-top: 20px;
  font-weight: 700;
  color: white;
  margin-top: 20%;
  font-family: 'Bungee Inline', cursive;
}

.mission{
  /* width: 30%; */
  font-size: 23px;
  background-color: rgba(216, 191, 216, 0.6);
  padding: 16px;
  font-weight: 700;
  font-family: 'Playfair Display SC', serif;
 
}

.Home {
  margin-top: 150px;
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition:all 0.2s ease;
	-moz-transition:all 0.2s ease;
  transition:all 0.2s ease;
  position: relative;
}

.parallax-1 {
  background-image: url("../../images/MainGrass.jpg");
  min-height: 700px;
}

.parallax-2 {
  background-image: url("../../images/grass-cut-image2.jpg");
  min-height: 700px;
}

.parallax-3 {
  background-image: url("../../images/charlotte.jpg");
  min-height: 700px;
}

