/* FUTURE DEVELOPMENT */

.UserProfileT {
    text-align: center;
    margin-bottom: -20px;
    position: relative;
    left: 300px;
    right: 300px;
    padding: 100px 50px 100px 50px;
}
.userImage {
    height: 180px;
    width: 180px;
}
.card-body {
    position: static !important;
    text-align: center;
    margin-bottom: 20px;
    opacity: 50%;
}

.sub-button {
    width: 100% !important;
    height: 30px;
   
}

.App {
    position: relative;
    background: url("../Home/images/productIMG.jpg");
    height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
}