/* FUTURE DEVELOPMENT */

.UserProfileT {
    text-align: center;
    margin-bottom: -20px;
    position: relative;
    left: 300px;
    right: 300px;
    padding: 100px 50px 100px 50px;
}
.userImage {
    height: 180px;
    width: 180px;
}
.card-body {
    position: static !important;
    text-align: center;
    margin-bottom: 20px;
}

.sub-button {
    width: 100% !important;
    height: 30px;
   
}

.container {
    position: relative;
}