#letsGuess{
    padding:2px;
    
    
}
#demoTile{
    background-color: rgb(90, 253, 245);

}
#playTile{
    background-color: rgb(125, 235, 250);
    color: black;
    
}
#googleTile{
    background-color: rgb(252, 136, 140);
  
}
#scoreTile{
    background-color: rgb(252, 180, 240);
   
}
#characterTile{
    background-color: rgb(158, 253, 131);
 
}