
body {
    background: url('guillermo-alvarez-631481-unsplash.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    font-family: 'Permanent Marker', cursive;
    color:  #F4EADE;
    font-size: 60px;
}

h3 {
    font-family: 'Permanent Marker', cursive;
    color: #F4EADE;
}

.homecontainer {
    text-align: center;
    align-items: center;
    width: 50%;
    position: absolute;
    top: 32%;
    right: 17.5%;

}

.searchDiv {
    align-content: center;
}

