body{
    background-color:#DDE1E4;
}

.btn{
    background-color: #DDE1E4;
}

.card-link{
    color: black

}

.timer{
    text-align:center
}

.cardbody{
    color: #C1CAD6;
}

.jumbotron{
    background-color:#C1CAD6;
    color: white;
}

/* .col-3{
    background-color: black;
} */
.hex{
    color:#C1B4AE ;
    color: #d5aca9;
    color:#C1CAD6 ;
}