.responsive-d-block {
        width: 100%;
        height: 500px;
}

.carousel-item{
    /* padding: 0%;
    margin: 0%;
    size: 1500px;
    height: 500px; */
}

.jumbotron {
    background: white;
}

#title {
    margin-top:25%;
}

.card-drinks{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: aliceblue;
    text-align: left;
    margin: 5%;
    box-shadow: 10px 10px 5px grey;

}

 .card-create{
    text-align: left;
    border: none;
}

/* .create-img{ */
.create-img-responsive{ 
    width: 100%;
    max-width: 500px;
    /* margin-top:15px;
    width: 500px; */
    height: auto; 
    box-shadow: 10px 10px 5px grey;
}

.card-body-create {
    /* margin-left: 75px; */
} 

.carousel-caption{
    margin-bottom: 10%;
}

.text {
    font-family: fantasy;
    font-size: 50px;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    transition: text-indent .5s;
  }
  
  /* On hover, trigger the transition */
  .text:hover {
    text-indent: 5px;
    transition: text-indent .5s;
  }
  
  /* The thing that slides in on hover */
  .text:hover::before {
    display: inline-block;
    content: url('../Images/Logo.png') 'DRINKSTATION';
  }

.text {
    animation:  glow 8s infinite;
    
  }
  
  @keyframes glow {
    0% {
      text-shadow:  0 0 8px white;
    }
    
    15% {
        text-shadow: 2px 2px 10px rgba(255, 255, 255, 1),
                     -2px -2px 10px rgba(255, 255, 255, 1);
      }
      30% {
        text-shadow: 2px 2px 4px rgba(255, 255, 255, .7),
                     -2px -2px 4px rgba(255, 255, 255, .7);
      }
      50% {
        text-shadow: 20px 20px 50px rgba(255, 255, 255, .5),
                     -20px -20px 50px rgba(255, 255, 255, .5);
    }
  }

  .logoLink:hover{
    color:white;
  }

  /* .homepage {
    position: relative;
    font-family: sans-serif;
    font-weight: 1000;
    font-size: 2em;
    letter-spacing: 4px;
    overflow: hidden;
    background: linear-gradient(90deg, #000, #fff, #000);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 3s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(161, 161, 161, 0);
  } */

  .homepage {
	    vertical-align: middle;
      text-align: center;
      color:rgb(141, 141, 141);
      color: #fd7d7d;
      background: linear-gradient(110deg, rgb(36, 36, 36) 33%, rgba(151, 149, 149, 0) 33%), linear-gradient(110deg, rgb(59, 57, 57) 34%, #ff0000 34%);
      background-size: 400%;
       -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;

    }
    .homepage {
        animation: Gradient 5s ease infinite;
        -webkit-animation: Gradient 8s ease infinite;
        -moz-animation: Gradient 5s ease infinite;
    }

    .homepage:hover {
      text-indent: 5px;
      transition: text-indent .5s;
    }

    .homepage:hover::before {
      /* display: inline-block; */
      content: 'Go to ';
    }
    
    @-webkit-keyframes Gradient {
      0% {
        background-position: 30% 50%
      }
      50% {
        background-position: 25% 50%
      }
      100% {
        background-position: 30% 50%
      }
      
    }
  
  @keyframes animate {
    0% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
    }
  }

@media (max-width: 575.98px) { 
  .responsive-d-block{
    width:100%;
    height: auto;
  }
  .card-drinks{
    width:100%;
    height: auto;
 }
 .parallax{
   width:100%;
  height: auto;
}

}

@media (min-width: 576px) and (max-width: 767.98px) { 
  .responsive-d-block{
    width:100%;
    height: auto;
  }
  .card-drinks{
    width:100%;
    height: auto;
 }
 .homepage{
  width:100%;
  height: auto;
 }
  .parallax{
    width: 100%;
    height: auto;
  }
}


@media (min-width: 768px) and (max-width: 991.98px) { 
  .responsive-d-block{
    width:100%;
    height: auto;
  }
  .card-drinks{
    width:100%;
    height: auto;
 }
 .homepage{
  width:100%;
  height: auto;
}
 }

@media (min-width: 992px) and (max-width: 1199.98px) { 
   .responsive-d-block{
  width:100%;
  height: auto;
  } 
  .card-drinks{
    width:100%;
    height: auto;
 }
}

@media (min-width: 1200px) {
  .responsive-d-block{
    width:100%;
    height: auto;
  }
  .card-drinks{
    width:100%;
    height: auto;
 }
 }
