img {
  width: 100%;
  
    margin-right: -1rem;
    margin-left: -1rem;

}
jumbotron {
 width: max-content;
}

.mike {
  max-height: fit-content;
  max-width: fit-content;
}
.fear{
  position: relative;
  background-image: url(./fear2.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left; 
  height: 90vh;
  width: 100vw;
}
.sga{
  position: relative;
  background-image: url(./slay.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left; 

  width: 100%;
} 
.textright {
  text-align: right;
}
.y {
  width:fit-content;
}
