body{
    background-color:#DDE1E4;
}

.btn{
    background-color: black;
    color: white;
    
}
.drawbtn{
    color:white;
    margin-top: 5%;
}
.drawbtn:hover{
    color:rgb(151, 7, 7);
}

.home-footer{
    background-color: black;
    color: white;
    margin-top: 2%;
    padding: .5px;
}

.jumbotron{
    background-color:black;
    color: white;
}

.move-right{
margin-left: 15%;
}

.hex{
    color:#C1B4AE ;
    color: #d5aca9;
    color:#C1CAD6 ;
}