body{
  background-image: url("../../cssPages/images/cutgrass.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  font-family: 'Montserrat', sans-serif;
}
h3 {
  font-style: italic;
}

.card-body{
  padding: 1.85rem;
  
}

.col-sm-7{
  margin: 0px 300px 0px;
}

.card-review{
  width: 600px;
  height: 400px;
}

  #form{
    background-color: white;
    color: black;
  }


  .grass1{
    margin-left: 30px;
    height: 320px;
    margin-bottom: 20px
  }

  .grass2{
    margin-left: 40px;
    height: 320px;
    margin-bottom: 20px
  }

  .grass3{
    margin-left: 40px;
    height: 320px;
    margin-bottom: 20px
  }

  .grass4{
    margin-left: 40px;
    height: 320px;
    margin-bottom: 20px
  }

.grass5{
margin-left: 160px;
height: 300px;
}

.grass6{
  margin-left: 30px;
  height: 320px;
  margin-bottom: 20px
}

.grass7{
  margin-left: 40px;
  height: 320px;
  margin-bottom: 20px
}

.grass8{
  margin-left: 40px;
  height: 320px;
  margin-bottom: 20px
}

.grass9{
  margin-left: 40px;
  height: 320px;
  margin-bottom: 20px
}

.jumbotron {
  text-align: center;
  height: 350px;
  background-color: white;
  width: 100%;
  /* color: rgb(15, 109, 22); */
   color: #303437;
  font-family: 'Source Sans Pro' 900;
  opacity: 0.9;
}

.reviews {
  justify-content: center;
}

@media only screen and (max-width: 678px) {
  .grass5 {
    margin-left: 0px;
    height: 300px;
  }
  .imgReviewer {
    visibility: hidden;
    height: 0px;
    width: 0px;
  }
  h4 {
    font-size: 15px;
  }
  .smallReview {
    width: 500px;
  }
  .carousel-inner {
    width: 400px;
  }
  .img-responsive {
    width: 490px;
  }
}
/* 
@media screen and (max-width: 980px){
  .card{
      margin-left: 100px;
      margin-right: 100px;
  }
  p{
      font-size: 60px;
}
}
@media screen and (max-width: 768px){
  .card{
      margin-right: 20px;
  }
  p{
      font-size: 40px;
}
}
@media screen and (max-width: 480px){
  #greeting{
      font-size: 20px;
  }
  .container{
     width: 50%;
  }
  
}  */
