/* ONLY use these page COLORS!!! */

/* black rgb(30, 30, 40) */
/* biege/tan rgb(173, 158, 149) */
/* dark brown  rgb(70, 50, 40)*/
/* brown rgb(120, 68, 20)*/
/* light brown rgb(150, 110, 76)*/
/*  blue/black-ish rgb(55, 72, 89) */
 /* ------------------------- */

 /* Set 2 colors
 - c1purplehsl 
rgb(108,30,79)
 - midnightbluehsl 
rgb(63,36,98)
 - darkslategrayhsl 
rgb(67,16,50)
 - midnightbluehsl 
rgb(22,32,83)
 - darkslatebluehsl 
rgb(32,56,144) 
- tomato/orange 
rgb(243,110,45)
- skyblue
rgb(138,190,235)
*/
body {
    font-family: "Montserrat", sans-serif !important;
}

.container-fluid {
    margin: 0;
    padding: 0 !important;
}
.row {
    height: 680px;
}

video {
   height: 760px;
   position: absolute;
   width: 100%;
   bottom: 260px;
   left: 15px;
}
.text-overlay {
    z-index: 1;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 80px !important;
    position: absolute;
    top: 150px;
    left: 34%;
    letter-spacing: 18px !important;
    text-shadow: 4px 4px 4px rgba(133, 133, 133, 0.571),
                 -3px -3px 4px rgba(136, 136, 136, 0.529);
}
.text-overlay:hover {
    color: rgb(30, 30, 40);
}
#row1 {
    background: rgb(173, 158, 149);
    /* background-image: linear-gradient(40deg,rgb(32,56,144), rgb(22,32,83), rgb(32,56,144), rgb(63,36,98), rgb(67,16,50),rgb(108,30,79)); */
    z-index: 2;
}
#row2sec1{
    background: rgb(70, 50, 40);
    /* background: rgb(63,36,98); */
    height: auto;
    width: auto; 
    text-align: center;
    color: white;
}
#row2sec2 {
    background: rgb(30, 30, 40);
    /* background: rgb(67,16,50); */
    height: auto;
    width: auto; 
    text-align: center;
    color: white;
}

#row3sec1 {
    background: rgb(103, 81, 60);
    height: auto;
    width: auto; 
    text-align: center;
    color: white;
}
#row3sec2 {
    background: rgb(30, 30, 40);
    height: auto;
    width: auto; 
    text-align: center;
    color: white;
}
#row3sec3 {
    background: rgb(150, 110, 76);
    /* background: rgb(63,36,98); */
    height: auto;
    width: auto; 
    text-align: center;
    color: white;
}
#row4sec1 {
    background: rgb(174, 159, 159);
    /* background: rgb(138,190,235); */
    height: auto;
    width: auto; 
    text-align: center;
    color: white;
}
#row4sec2 {
    background: rgb(116, 116, 116);
    height: auto;
    width: auto; 
    text-align: center;
    color: white;
}
.content {
    /* width: 60%; */
    margin-top: 40px;
}

img {
    margin: 20px;
}

.productImage {
    height: 300px;
    width: 200px;
    text-align: center;
}

.productGIF {
    margin-top: 140px;
    top: 150px;
    text-align: center;
    height: 400px;
    width: 300px;
}

.productIMG {
    margin-top: 140px;
    top: 150px;
    text-align: center;
    height: 450px;
    width: 550px;
}