/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	}
	
	.react-calendar {
		font-family: 'Montserrat', sans-serif;
		font-size: 24px;
		width: 700px;
		line-height: 2em;
		margin: auto; 
	}

	.react-calendar__tile--active{
		background: #4caf50;
	}

	.react-calendar__navigation__label{
	font-weight: 800;
	font-size: 34px;
	}

	.md-form textarea.md-textarea {
		padding: 4rem;
	}
  
  /* Modal Content/Box */
  .modal-content {
	background-color: #fefefe;
	margin: 30% auto; /* 15% from the top and centered */
	padding: 15px;
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
	text-align: center;
	}

	.modal-dialog.modal-notify.modal-info .modal-header {
		background-color: #4caf50;
	}
	
	.modal-dialog.modal-notify .heading {
		font-weight: 800;
		font-size: 22px;
		text-align: center;
	}
  
  /* The Close Button */
  .close {
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
  }