.footer {
    color:white;
    margin-top: 2%;
    margin-bottom: 0%;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }

.card-header-footer {
      padding: 1%;
      background: linear-gradient(to bottom, #3374a0 0%, #2d1a3a 100%);
}

.logo {
    height: 5%;
    width: 5%;
    top: 0;
    left: 0;
  
}