#footer {
    height: 300px;
    width: 100%;
    background: white;
    display: none;
}
button {
    width: 100px;
    height: 80px;
    background: rgb(50, 50, 50);
    position: relative;
    bottom: 40px;
    left: 55%;
    margin: 0;
    border-radius: 70px;
    color: white;
    font-weight: 600;
}
.btn-holder {
    z-index: 2;
    height: 50px;
    /* background: rgb(94, 94, 94); */
    width: 100%;
}
.container {
    margin: 0;
    width: 100%;
    padding: 0;
}
.row {
    height: 200px;
}