@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

.body {
  background-color: #e6ffe6;
  font-family: "Fredoka One", cursive;
  font-size: 20px;
}

.footer{
  margin-top: 1rem;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}