body, html {
  height: 100%;
}

.bg {
background-image: url("./images/tree.jpg");
height: 100vh;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-position: "center";
}


