.barItem {
      text-decoration: none;
      color: white;
  }
  
  .barItem:hover,
  .barItem:active {
    text-decoration: none;
    color: grey;
  }
  
  .namer{
    text-align:center;
    color: whitesmoke;
  }