.h1_heading_dark {
  font-family: 'Roboto', sans-serif;
  color: #000000;
  font-size: 2rem;  
}

.h1_heading_dark_bold {
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  color: #000000;
  font-size: 2rem;
}

.h2_heading_dark {
  font-family: 'Roboto', sans-serif;
  color: #000000;
  font-size: 1.75rem;
}

.h2_heading_dark_bold {
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  color: #000000;
  font-size: 1.75rem;
}

.h2_heading_light {
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
  font-size: 1.75rem;
}

.h2_heading_light_bold {
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  color: #FFFFFF;
  font-size: 1.75rem;
}

.h3_heading_dark {
  font-family: 'Roboto', sans-serif;
  color: #000000;
  font-size: 1.375rem;
}

.h3_heading_dark_bold {
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  color: #000000;
  font-size: 1.375rem;
}

.h3_heading_light {
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
  font-size: 1.375rem;
}

.h3_heading_light_bold {
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  color: #FFFFFF;
  font-size: 1.375rem;
}

.p_text_light {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  color: #FFFFFF;
  font-size: 1.125rem;
}

.p_text_dark {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  color: #000000;
  font-size: 1.125rem;
  margin-top: 5%;
  line-height: 1.5rem;
}

