/* .card-loginform {
    opacity: 0;
}

.card-header-loginform{
    background: white;
} */

.card-loginform {
    opacity: 0.5;
    width: 500px;
    height: 500px;
    background-color:black;
    top: 50%;
    left: 50%;
    box-sizing: border-box;
    padding: 70px 30px;
    color:white;
 }
 
      .form-control1 {
        font-size: 20px;
        width: 100%;
        margin-bottom: 20px;
        border: none;
        border-bottom: 1px solid #fff;
        background: transparent;
        outline: none;
        height: 40px;
        color: white; 
    }
      

        .form-control2 {
            font-size: 20px;
            width: 100%;
            margin-bottom: 20px;
            border: none;
            border-bottom: 1px solid #fff;
            background: transparent;
            outline: none;
            height: 40px;
            color: white; }

            input.form-control1 {
                font-family: FontAwesome;
                font-style: normal;
                font-weight: normal;
                text-decoration: inherit;
            }
            
          

     