/* .card-loginform {
    opacity: 0;
}

.card-header-loginform{
    background: white;
} */

.card-loginform {
    opacity: 0.5;
    width: 700px;
    height: 700px;
    background-color:black;
    top: 50%;
    left: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    color:white;
 }
 .card-registerform 
 {
    opacity: 0.5;
    width: 400px;
    height: 400px;
    background-color:black;
    top: 50%;
    left: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    color:white;
 }

    .cardbody {
        width: 100%;
        margin-bottom: 20px;
        border: none;
        border-bottom: 1px solid #fff;
        background: transparent;
        outline: none;
        height: 40px; 
        color:white;
      }

      .form-control {
        font-size: 10px;
        width: 100%;
        margin-bottom: 20px;
        border: none;
        border-bottom: 1px solid #fff;
        background: transparent;
        outline: none;
        height: 40px;
        color: white; }
      

        .form-control2 {
            width: 100%;
            margin-bottom: 20px;
            border: none;
            border-bottom: 1px solid #fff;
            background: transparent;
            outline: none;
            height: 40px;
            color: white; }
          

     