.LoginForm {
    background-color: black;
    text-emphasis: none;
    text-decoration-color: white;
}

.card bg-secondary {
    background-color: black;
    height:0px;
}

.inputgroup {
    background-color: black;
    text-emphasis: none;
    text-decoration-color:white;
}
.formcontrol {
    background-color: black;
    text-emphasis: none;
    text-decoration-color: white;
}
.card {
    background-color: black;
    text-emphasis: none;
    text-decoration-color: white;
}

/* .Particles-js { */
    /* position: fixed; */
    /* height: 500px;
    width: 400px; */
/* } */