
.LoginForm {
    width: 80%;
    margin-left: 10%;
    margin-top: 15%;
    text-align: center;
    
}

.loginbutton {
    background-color: #6AB187;
    color: #F4EADE;
    font-family: 'Permanent Marker', cursive;
    width: 200px;
    height: 40px;
    border: 3px solid rgb(74, 124, 95);
    border-radius: 5px;
}

.loginbutton:hover {
    background-color: rgb(74, 124, 95);
}

h3 {
    margin-bottom: 15px;
}