.LoginForm {
    background-color: black;
    text-emphasis: none;
    text-decoration-color: white;
}
.inputgroup {
    background-color: black;
    text-emphasis: none;
    text-decoration-color:white;
}
.formcontrol {
    background-color: black;
    text-emphasis: none;
    text-decoration-color: white;
}
.card {
    background-color: black;
    text-emphasis: none;
    text-decoration-color: white;
}

/* .particles-area {
    height: 400px;
    width: 300px;
} */