/* .card-loginform {
    opacity: 0;
}

.card-header-loginform{
    background: white;
} */

.card-loginform{
    opacity: 9.5;
    width: 320px;
    height: 420px;
    color:black;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px; }

    .form-control2 {
        width: 100%;
        margin-bottom: 20px;
        border: none;
        border-bottom: 1px solid #fff;
        background: transparent;
        outline: none;
        height: 40px; 
        color:white;
      }

     