.EventPostIt {
  background-color: #f8aa39;
  z-index: 1;
  float: left !important;
  height: 15em;
  width: 15em;
  padding: 1em;
  margin: 2em;
  color: white;
  -moz-box-shadow: 5px 5px 7px rgba(33, 33, 33, 1);
  -webkit-box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
  box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
  transform: rotate(4deg);
  -o-transform: rotate(4deg);
  -webkit-transform: rotate(4deg);
  -moz-transform: rotate(4deg);
}
.EventPostIt:nth-child(even) {
  background: #96d266;
  transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
}
.EventPostIt:hover {
  position: relative;
  -moz-box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.7);
  box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.7);
  transform: scale(1.25);
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
}

.EventPostIt_img {
  max-width: 7em;
  max-height: 6em;
  margin-bottom: 1em;
}

.EventPostIt_btn:hover {
  color: #ed4e3d;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .EventPostIt {
    margin-left: 2em;
  }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .EventPostIt {
    margin-left: 5em;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width: 768px) and (max-width: 874px) {
  .EventPostIt {
    margin-left: 1.5em;
  }
}

/* iPads (landscape) ----------- */
@media only screen and (min-width: 875px) and (max-width: 998px) and (orientation: landscape) {
  .EventPostIt {
    margin-left: 1.5em;
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 999px) and (max-width: 1197px) {
  .EventPostIt {
    margin-left: 0.5em;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1225px) {
  .EventPostIt {
    margin-left: 3em;
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1226px) {
  .EventPostIt {
    margin-left: 3.5em;
  }
}
