.jumbotron {  
  padding: 5%;
  margin: 10% auto 0 auto;
  box-shadow: 5px 5px 3px 0px rgba(0,0,0,0.30);
  background-color: #ffffff73;
  border-radius: 8px;
}

.jumbotron_heading_dark_bold {
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  color: #000000;
  font-size: 3rem;
  line-height: 1;
  margin-bottom: 1.5rem;
  background-color: #ffffff73;
  padding: 5%;
  border-radius: 8px;
  text-align: center;

}

.jumbotron_p {
  font-size: 1.8rem;
  font-weight: 300;
  background-color: #ffffff73;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  padding: 5%;
  color: #000000;
  border-radius: 8px;
  text-align: center;
}
