.mainBodyColorAboutUs {
    height: 100vh + 20rem;
    background:   linear-gradient(120deg, #DD252E, #6D26DD);
}

.paddingLeftAboutMe {
    padding-left: 3rem;
}
.paddingRightAboutMe {
    padding-Right: 3rem;
}
.paddingBottomAboutMe {
    padding-bottom: 2rem;
}

.paddingTopAboutMe {
    padding-top: 1rem;
}

.ParkerHeadShot {
    height: 242.69px ;
    width: 364.5px
}

.JeanHeadShot {
    height: 242.69px;
    width: 364.5px;
}

.MichaelHeadShot {
    height: 242.69px;
    width: 364.5px;
}

.GabrielHeadShot {
    height: 242.69px;
    width: 364.5px;
}