#row1Collection {
    background: rgb(33, 33, 33);
}
#videoBgC {
    bottom: 100%;
    filter: blur(4px);
}
.text-overlayC {
    z-index: 1;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 6vw !important;
    position: absolute;
    top: 10vw;
    left: 30%;
    letter-spacing: 10px !important;
    /* text-shadow: 4px 4px 4px rgba(133, 133, 133, 0.571),
                 -3px -3px 4px rgba(136, 136, 136, 0.529); */
}

.p-title {
    color: white;
    position: absolute;
    left: 40%;
    top: 75%;
    font-size: 50px;
    letter-spacing: 4px !important;
}

div.wrapper {
    background: rgb(176, 176, 176);
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    padding: 40px 0 60px 3px;
    justify-content: center;
}

