.sidenav {
    display: flex;
    align-items: stretch;
    perspective: 1500px;
    text-align: center;
    height: 100vh;
  }

.sidenav:hover {
    text-decoration: none;
  }

#navbar.inactive {
    min-width: 250px;
    max-width: 250px;
    background: #6AB187;
    color: #fff;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: center left;
    text-decoration: none;
  }

#navbar.active {
    margin-left: -110px;
    transform: rotateY(100deg);
  }

.navbar-nav {
    width: 100%;
  }

.navbar-header {
      width: 100%;
  }

.navbar-header:hover {
    text-decoration: none;
  }

.nav-item {
    width: 100%;

  }

.nav-item:hover {
    background-color: rgb(74, 124, 95);
  }

.nav-link {
    width: 100%;
    color: white;
  }

.nav-link:hover {
    text-decoration: none;
    color: white;
  }

#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.25);
    border: none;
}

#sidebarCollapse span {
  width: 80%;
  height: 2px;
  margin: 2px;
  display: block;
  background: #555;
  transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
}

h3 {
  padding-top: 15px;
}

