@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

.body {
  background-color: #e6ffe6;
  font-family: "Fredoka One", cursive;
  font-size: 20px;
}

.navbar {
    color: black;
}