.hero { 
    background-position: center center;
    background-repeat: no-repeat no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 15%;
  }

  body {
    background-image: url("../styles//plants.jpg");
    background-repeat: no-repeat, no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
  }

  .wrapper {
    position: relative;
    height:110vh;
    overflow:hidden;
    margin-top: -49px;
  }