/* .hero{
    width: 100%;
    height: auto;
} */

.img-container {
  position: relative;
  background-image: url(./tire.jpg) ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 80vh;
  /* height: 100vh; */
  width:100%;
}

.img-container image {
  width: 100%;
  height: auto;
}


.img-container .btn:hover {
  background-color: black;
}
.btn2:hover {
  background-color: black;
}

.overlayText {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:white;
  font-size: 40px;
}
