@import url('https://fonts.googleapis.com/css?family=Poppins:100,300,400,500,600,700,800, 800i, 900&display=swap');

#test {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin-top: 100px;
    
}

.testimonials {
    font-size: 70px;
    color: #011586;
    font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
}

.testimonials i {
    color: #ec8430;
}


/* card 1 */

.card4 {
    font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
    background-color: #011586;
    border-color:#c0c0c0cb;
    border-radius: 25px;
    border-color: #c0c0c0cb;
    border-width: 5px;
    border-style: solid;
    margin-bottom: 50px !important;
}
.card4 p:first-letter{
    text-transform: uppercase;
}
.card4 p {
color:white;
font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
letter-spacing:0.1em;
text-align:center;
margin: 40px auto;
text-transform: lowercase;
line-height: 120%;
font-size: 14pt;
font-variant: small-caps;
}

.card4 img {
    border-radius: 50%;
    padding: 30px;
}

.card4 .grey {
    color: #c0c0c0cb;
    font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
}

.card4 .orange {
    color: #ec8430;
    font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
}

.card4 .title{ 
    font-size: 30px;
}

.card4 .card-text {
    font-size: 25px;
}

/* just the margin on the last card */
.lastCard {
    margin-bottom: 200px !important;
}

/* card 2 */
.card2 {
    font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
    background-color: #ec8430;
    border-color:#c0c0c0cb;
    border-radius: 25px;
    border-color: #c0c0c0cb;
    border-width: 5px;
    border-style: solid;
    margin-bottom: 50px !important;
}
.card2 p:first-letter{
    text-transform: uppercase;
}
.card2 p {
color:white;
font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
letter-spacing:0.1em;
text-align:center;
margin: 40px auto;
text-transform: lowercase;
line-height: 120%;
font-size: 14pt;
font-variant: small-caps;
}

.card2 img {
    border-radius: 50%;
    padding: 30px;
}

.card2 .grey {
    color: #c0c0c0cb;
    font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
}

.card2 .orange {
    color: #011586;
    font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
}

.card2 .title{ 
    font-size: 30px;
}

.card2 .card-text {
    font-size: 25px;
}


.trust {
    font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
    color:  #c0c0c0cb;
    font-size: 40px;
    margin-bottom: 100px;
}