.MainBodyColor {
    height: 100vh;
    background:  linear-gradient(120deg, #DD252E, #6D26DD);

}

.rowPadding {
    padding-top: 25px;
}

.resultsColourCard:hover {
    border: 5px solid #333333;
    overflow: hidden;
}