.form-holder {
    overflow: hidden;
}

.form {
    column-count: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    font-size: 1em;
    color: white;
    background-color: black;
    display: inline-block;
    cursor: pointer; 
    transition: all 0.3s ease;
}

.inputfile:focus + label, 
.inputfile + label:hover {
    background-color: white;
    color: black;
    transition: all 0.3s ease;
    outline: -webkit-focus-ring-color auto 5px;
}

/* Title animation */
.translate-up {
    animation: transUp ease 2s forwards;
    animation-delay: 0.5s;
    opacity: 0
}

@keyframes transUp {
    0% {
        transform: translate(0, 200px);
        opacity: 1;
    }
    100% {
        transform: translate(0, 0);
        opacity: 1
    }
}