.ColourBody{
    background:   linear-gradient(120deg, #DD252E, #6D26DD);
  
}

.logoSideColour {
    background-image: url(../../images/white-waves.png);

}


.topLogoPadding {
 padding-top: 100px;
}

.colorMainPadding {
    padding-top: 15px;
}

.nameColour {
    font-family: 'Pacifico', cursive;
}

.fontColourp {
    font-family: 'Satisfy', cursive;
    padding-top: 20px;
}

.colorCompName{
padding-right: 200px ;
}

.colorEmail{
padding-right: 100px;
}

.colorWebsite{
    padding-right: 120px ;
}

.colorPhone{
    padding-right: 90px ;
}

