.slide-right {
    width: 100%;
    overflow: hidden;
    margin-left: 300px;
    max-width: 500px
  }
  
  .slide-right h2 {
    animation: 2s slide-right 2s forwards;
      transform:translateX(-100%);
  }
  
  @keyframes slide-right {
    to {
      transform:translateX(0);
    }
  }